.calc__container {
  /* border: 3px solid black; */
  border-radius: 2px;
  width: 80%;
  height: 60vh;
  min-height: 70vh;
  padding: 10px;
  background: #e9ebed;
}

.calc__input-wrap {
  /* border: 2px dotted pink; */
  height: 20%;
  margin-bottom: 10px;
}

.calc__buttons-wrap {
  display: flex;
  flex-direction: row;
}

.calc__col-one {
  width: 70%;
  height: 100%;
  /* border: 2px dotted red; */
  padding: 5px;
  border-right: 10px inset rgba(175, 138, 200, 0.20070026301536237);
  border-radius: 2px;
}

.calc__col-two {
  width: 30%;
  /* border: 2px dotted red; */
  height: 100%;
}

/* Media Queries */

@media only screen and (max-width: 1200px) {
  .calc__container {
    height: 60vh;
    min-height: 60vh;
  }
}

@media only screen and (max-width: 950px) {
  .calc__container {
    width: 90%;
    height: 60vh;
    min-height: 60vh;
  }

  h1.application-header {
    display: none;
  }
}
