.calc__container {
  height: 90vh;
  width: 90vw;
  padding: 15px;
  background-color: honeydew;
}

.calc__wrapper {
  border: 2px dotted goldenrod;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row {
  border: 2px dotted blue;
  width: 100%;
}

.calc__wrapper .row-one h1 {
  margin: 0;
}

.row-one {
  height: 10%;
}

.row-two{
    height: 90%;
}
