.home__container {
  height: 98vh;
  width: 98vw;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 3px;
  background: #B993D6;  /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
  letter-spacing: 10px;
  font-size: 40px;
}

.home__wrapper {
  /* border: 2px dotted goldenrod; */
  padding: 5px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

}

.row {
  width: 100%;
  margin: auto;
}

.home__wrapper .row-one h1 {
  margin: 0;
}

.row-one {
  height: 10%;
}

.row-two{
    height: 90%;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    /* border: 2px dotted green; */
}


/* calculator */
.calc__wrapper{
  /* border: 2px dotted green; */
  height: 100%;
  width: 100%;
}

@media only screen and (max-height: 500px) {
  h1{
    display: none;
  }
}

/* @media only screen and (max-width: 701px) and (max-height: 501px)  {
  h1{
    display: none;
  }
} */
